/**** element styles ****/
hr { border-color: #cccccc; margin: 0px; }

/**** header, main and footer divs ****/
.header-title { font-size: 30px; }

/**** class-based style modifiers ****/

.no-margins { margin: 0px; }

.with-margins { margin: 10px; }

.col-centered { float: none; margin: 0 auto; }

.landing-home{

background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url("landing.jpg");
height: 100%;


}

body, html {
  height: 100%;
  width: 100%
}
